:root {
    font-family: 'Karla', sans-serif;
    font-weight: 800;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1 {
    font-size: 10rem;
    font-family: 'Concert One', sans-serif;
}

h2 {
    font-size: 3.2rem;
    font-family: 'Fjalla One', sans-serif;
}

h3 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* utility classes */

.margin-0 {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.ai-stretch {
    align-items: stretch;
}

.flex-end {
    justify-content: flex-end;
}

.text-end {
    text-align: end;
}

.green-txt {
    color: #70c1b3;
}

.light-txt-box {
    background-color: #ffdcc6;
}

.dark-txt-box {
    background-color: #3154a5;
}

.light-txt {
    color: #52002d;
}

.dark-txt {
    color: #c5ccd2;
}

.light-title {
    color: #2a0929;
}

.dark-title {
    color: #70c1b3;
}

/* slider */

.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 60px; /*=w*/
    height: 30px; /*=h*/
    margin: 4px;
    transform: translateY(50%);
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #7f002e, 0 0 4px #7f002e;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #70c1b3;
    border-radius: 30px;
    transform: translateX(-30px); /*translateX(-(w-h))*/
    transition: 0.2s;
}

input:checked + .slider:before {
    transform: translateX(30px); /*translateX(w-h)*/
    background-color: #70c1b3;
}

input:checked + .slider {
    box-shadow: 0 0 0 2px #c5ccd2, 0 0 8px #c5ccd2;
}

.Typewriter__cursor {
    color: #70c1b3;
}

/* birds */
